/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/resources/views/scribe
/storage/*.key
/storage/pail
/vendor
vendor.7z
vendor.zip
vendor.rar
composer.cmd
composer.phar
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
php.cmd
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.scribe
/.vscode
/.zed
