<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Remove trailing slash -->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Authorization Header support -->
        <rule name="Authorization Header" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_AUTHORIZATION}" pattern=".+" />
          </conditions>
          <serverVariables>
            <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
          </serverVariables>
          <action type="None" />
        </rule>

        <!-- XSRF Token Header support -->
        <rule name="XSRF Token Header" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_X_XSRF_TOKEN}" pattern=".+" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_XSRF_TOKEN" value="{HTTP_X_XSRF_TOKEN}" />
          </serverVariables>
          <action type="None" />
        </rule>

        <!-- Rewrite all other requests to index.php -->
        <rule name="Laravel Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <clear />

      <!-- USE ONLY ONE PHP VERSION -->
      <add name="PHP_v8.3" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" modules="FastCgiModule"
           scriptProcessor="C:\Program Files\php\v8.3.14\php-cgi.exe"
           resourceType="Either" requireAccess="Script" />

      <!-- Optional CGI and static file support -->
      <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
      <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
           resourceType="Either" requireAccess="Read" />
    </handlers>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
